<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DenHeyer Electric - Insurance & Payment</title>

    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Teko:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">


</head>
<body>

{% include 'header.html' %}


<h2>Insurance: </h2><br>
<p>License #17643, Fully insured & bonded</p>
<h2>Payment:</h2><br>
<p>Checks made out to “DenHeyer Electric” mailed to 24 County Rd 639 Wantage, NJ 07461<br> Or, <br>
Zelle:  (862) 268-1290
</p>



</body>
</html>