<!DOCTYPE html>
<html>
<head>
    <title>DenHeyer Electric</title>
    <style>
        body { background-color: Azure; }
        h1 { text-align: center; }
        form { width: 90px; height: 50px; }
    </style>
</head>
<body>
    <h1 style="color:LightGray; font-size:80px; background-color:SteelBlue;">DenHeyer Electric</h1>
    <h2>Welcome to the employee portal, {{ username }}</h2><br>
    <a href="/reviewManager">Review Manager</a><br>
    <a href="/estimateManager">Estimate Manager</a><br>
    <!-- <a href="/resetPassword">Reset Password</a><br> -->
    <a href="/logout">Logout</a><br>
</body>
</html>